<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tig.wdc.user.model.dao.UserInfoMapper">

    <resultMap type="UserInfoDTO" id="UserInfoResult">
        <id column="USER_NO" property="userNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_PHONE" property="phone"/>
        <result column="USER_BIRTH" property="birthDate"/>
        <result column="USER_BLOCK_YN" property="blockYn"/>
        <result column="USER_QUIT_YN" property="quitYn"/>
        <result column="USER_ENROLL_DATE" property="enrollDate"/>
    </resultMap>
    
    <resultMap type="UserCouponDTO" id="CouponResult">
    	<id column="CPN_NO" property="cpnNo"/>
    	<result column="CPN_NAME" property="cpnName"/>
        <result column="DIS_AMOUNT" property="disAmount"/>
        <result column="DIS_CONDITION" property="disCondition"/>
        <result column="CPN_START" property="cpnStart"/>
        <result column="CPN_END" property="cpnEnd"/>
        <result column="CPN_USE_YN" property="cpnUseYn"/>
        <result column="CHEERING_NO" property="cheeringNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="CPN_ISSUE_DATE" property="issuedDate"/>
        <result column="CLS_TITLE" property="couponClassName"/>
    </resultMap>
    
    <resultMap type="UserClassDTO" id="UserClassResult">
        <id column="CLS_NO" property="clsNo"/>
        <result column="CLS_TITLE" property="title"/>
        <result column="CLS_ADDRESS" property="address"/>
        <result column="CLS_INTRO" property="intro"/>
        <result column="CLS_C_EXPL" property="cExpl"/>
        <result column="CLS_TIME" property="time"/>
        <result column="CLS_START_D" property="startDate"/>
        <result column="CLS_END_D" property="endDate"/>
        <result column="CLS_PRICE" property="price"/>
        <result column="CLS_ADD_INFO" property="addInfo"/>
        <result column="CLS_ADD_SUP" property="addSup"/>
        <result column="CLS_DICSION_STATUS" property="dicsionStatus"/>
        <result column="CLS_TYPE" property="clsType"/>
        <result column="DATE_APLCT" property="dateAplct"/>
        <result column="CLS_STATUS" property="status"/>
        <result column="TE_NO" property="teNo"/>
        <result column="CATEGORY_NO" property="categoryNo"/>
        <result column="CLS_SIMPLE_INTRO" property="simpleIntro"/>
        <result column="SAVE_PATH" property="titlePic"/>
        <result column="D_DAY" property="dDay"/>
        <result column="SCHEDULE_DATE" property="scheduleDate"/>
        <result column="SCHEDULE_START" property="scheduleStart"/>
        <result column="CLS_PPL" property="clsPplAmount"/>
    </resultMap>

	<select id="selectUser" parameterType="UserInfoDTO" resultMap="UserInfoResult">
		SELECT
	           *
		  FROM USER_INFO A
		 WHERE A.USER_NO = #{userNo}
	</select>
	
	<select id="findfindUserInfo" parameterType="UserInfoDTO" resultMap="UserInfoResult">
       SELECT
              *
         FROM USER_INFO A
        WHERE A.USER_ID = #{userId}
	</select>
	
	<select id="selectCouponList" parameterType="UserCouponDTO" resultMap="CouponResult">
		SELECT 
		       *
		  FROM COUPON A
		  JOIN CHEERING_HISTORY H ON(A.CHEERING_NO = H.CHEERING_NO)
		  JOIN CLASS C ON(H.CLS_NO = C.CLS_NO)
		 WHERE A.USER_NO = #{userNo}
		 ORDER BY CPN_NO
	</select>
	
	<select id="selectScheduledOneDayClassList" parameterType="UserClassDTO" resultMap="UserClassResult">
		SELECT 
		       *
		  FROM CLASS_APPLY C
		  JOIN SCHEDULE S ON(C.SCHEDULE_NO = S.SCHEDULE_NO)
		  JOIN CLASS L ON(S.CLS_NO = L.CLS_NO)
		  JOIN ATTACHMENT A ON(L.CLS_NO = A.CLS_NO)
          JOIN PAYMENT P ON(P.CLS_APL_NO = C.CLS_APL_NO)
		 WHERE C.USER_NO = #{userNo}
		   AND C.ATT_STATUS = 'N'
           AND TO_CHAR(S.SCHEDULE_DATE,'yy/MM/dd') != (SELECT
                                                             TO_CHAR(SYSDATE,'yy/MM/dd')
                                                        FROM DUAL)		
                                                         
		   AND (S.SCHEDULE_DATE <![CDATA[>]]> SYSDATE )
		   AND A.TYPE = 'TITLE'
           AND P.PAY_STATUS = '완료'
		   AND L.CLS_TYPE = 'O'
		 ORDER BY S.SCHEDULE_DATE
	</select>
	
	<select id="selectScheduledRegularClassList" parameterType="_int" resultMap="UserClassResult">
        SELECT 
		       *
		  FROM CLASS_APPLY C
		  JOIN SCHEDULE S ON(C.SCHEDULE_NO = S.SCHEDULE_NO)
		  JOIN CLASS L ON(S.CLS_NO = L.CLS_NO)
		  JOIN ATTACHMENT A ON(L.CLS_NO = A.CLS_NO)
          JOIN PAYMENT P ON(P.CLS_APL_NO = C.CLS_APL_NO)
		 WHERE C.USER_NO = #{userNo}
		   AND C.ATT_STATUS = 'N'
		   AND A.TYPE = 'TITLE'
           AND P.PAY_STATUS = '완료'
           AND CLS_TYPE = 'R'  
           <![CDATA[
           AND (L.CLS_START_D < SYSDATE)
           ]]>
	</select>
	

	<select id="selectparticipatingOneDayClassList" parameterType="_int" resultMap="UserClassResult">
        SELECT 
		       *
		  FROM CLASS_APPLY C
		  JOIN SCHEDULE S ON(C.SCHEDULE_NO = S.SCHEDULE_NO)
		  JOIN CLASS L ON(S.CLS_NO = L.CLS_NO)
		  JOIN ATTACHMENT A ON(L.CLS_NO = A.CLS_NO)
          JOIN PAYMENT P ON(P.CLS_APL_NO = C.CLS_APL_NO)
		 WHERE C.USER_NO = #{userNo}
           AND C.ATT_STATUS = 'N'
           AND CLS_TYPE = 'O'  
           AND TO_CHAR(S.SCHEDULE_DATE,'yy/MM/dd') = (SELECT
                                                             TO_CHAR(SYSDATE,'yy/MM/dd')
                                                        FROM DUAL)
		   AND A.TYPE = 'TITLE'
           AND P.PAY_STATUS = '완료'
		 ORDER BY SCHEDULE_DATE
	</select>
	
	<select id="selectparticipatingRegularClassList" parameterType="_int" resultMap="UserClassResult">
        SELECT 
		       *
		  FROM CLASS_APPLY C
		  JOIN SCHEDULE S ON(C.SCHEDULE_NO = S.SCHEDULE_NO)
		  JOIN CLASS L ON(S.CLS_NO = L.CLS_NO)
		  JOIN ATTACHMENT A ON(L.CLS_NO = A.CLS_NO)
          JOIN PAYMENT P ON(P.CLS_APL_NO = C.CLS_APL_NO)
		 WHERE C.USER_NO = #{userNo}
           AND C.ATT_STATUS = 'Y' -- 한번이라도 출석 시 Y
		   AND A.TYPE = 'TITLE'
           AND P.PAY_STATUS = '완료'
           AND CLS_TYPE = 'R'  
           <![CDATA[
           AND (L.CLS_START_D < SYSDATE)
           AND (L.CLS_END_D > SYSDATE)
           ]]>
	</select>
	
	<select id="selectComplateClassList" parameterType="_int" resultMap="UserClassResult">
        SELECT 
		       *
		  FROM CLASS_APPLY C
		  JOIN SCHEDULE S ON(C.SCHEDULE_NO = S.SCHEDULE_NO)
		  JOIN CLASS L ON(S.CLS_NO = L.CLS_NO)
		  JOIN ATTACHMENT A ON(L.CLS_NO = A.CLS_NO)
          JOIN PAYMENT P ON(P.CLS_APL_NO = C.CLS_APL_NO)
		 WHERE C.USER_NO = #{userNo}
           AND A.TYPE = 'TITLE'
           AND C.ATT_STATUS = 'Y'
          <![CDATA[
           AND (S.SCHEDULE_DATE < SYSDATE
            OR L.CLS_END_D < SYSDATE)
            ]]>
           AND P.PAY_STATUS = '완료'
	</select>
	
	<select id="selectRefundClassList" parameterType="_int" resultMap="UserClassResult">
	    SELECT 
		       *
		  FROM CLASS_APPLY C
		  JOIN SCHEDULE S ON(C.SCHEDULE_NO = S.SCHEDULE_NO)
		  JOIN CLASS L ON(S.CLS_NO = L.CLS_NO)
		  JOIN ATTACHMENT A ON(L.CLS_NO = A.CLS_NO)
          JOIN PAYMENT P ON(P.CLS_APL_NO = C.CLS_APL_NO)
		 WHERE C.USER_NO = #{userNo}
           AND A.TYPE = 'TITLE'
           AND P.PAY_STATUS = '취소'
	</select>

</mapper>