<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tig.wdc.user.model.dao.UserClassMapper">

    <resultMap type="UserClassDTO" id="ClassResult">
        <id column="CLS_NO" property="clsNo"/>
        <result column="CLS_TITLE" property="title"/>
        <result column="CLS_ADDRESS" property="address"/>
        <result column="CLS_INTRO" property="intro"/>
        <result column="CLS_C_EXPL" property="cExpl"/>
        <result column="CLS_TIME" property="time"/>
        <result column="CLS_START_D" property="startDate"/>
        <result column="CLS_END_D" property="endDate"/>
        <result column="CLS_PRICE" property="price"/>
        <result column="CLS_ADD_INFO" property="addInfo"/>
        <result column="CLS_ADD_SUP" property="addSup"/>
        <result column="CLS_DICSION_STATUS" property="dicsionStatus"/>
        <result column="CLS_TYPE" property="clsType"/>
        <result column="DATE_APLCT" property="dateAplct"/>
        <result column="CLS_STATUS" property="status"/>
        <result column="TE_NO" property="teNo"/>
        <result column="CATEGORY_NO" property="categoryNo"/>
        <result column="CLS_SIMPLE_INTRO" property="simpleIntro"/>
        <result column="SAVE_PATH" property="titlePic"/>
        <result column="AVG_SCORE" property="avgScore"/>
    </resultMap>

	<select id="selectNewClassList" parameterType="UserClassDTO" resultMap="ClassResult">
		SELECT 
		       *
		  FROM (SELECT
		              *
		         FROM CLASS C
		         JOIN ATTACHMENT A ON(A.CLS_NO = C.CLS_NO)
		        WHERE C.CLS_DICSION_STATUS = 'S'
		          AND A.TYPE = 'TITLE'
		        ORDER BY C.CLS_NO DESC)
		<![CDATA[ WHERE ROWNUM  <= 4 ]]>
	</select>
	
	<select id="selectTopClassList" parameterType="UserClassDTO" resultMap="ClassResult">
		SELECT
		       *
		  FROM (SELECT
		               A.SAVE_PATH
		             , L.*
		          FROM (SELECT 
		                       AVG(R.REVIEW_SCORE)
		                     , S.CLS_NO
		                  FROM REVIEW R
		                  JOIN CLASS_APPLY C ON(R.CLS_APL_NO = C.CLS_APL_NO)
		                  JOIN SCHEDULE S ON(S.SCHEDULE_NO = C.SCHEDULE_NO)
		                 GROUP BY S.CLS_NO) P
		          JOIN ATTACHMENT A ON(P.CLS_NO = A.CLS_NO)
		          JOIN CLASS L ON(L.CLS_NO = A.CLS_NO)
		         WHERE A.TYPE = 'TITLE')
		 WHERE ROWNUM <![CDATA[ <= ]]>4 
	</select>
	
	<select id="selectCheerClassList" parameterType="UserClassDTO" resultMap="ClassResult">
		SELECT 
		       *
		  FROM (SELECT
		              *
		         FROM CLASS C
		         JOIN ATTACHMENT A ON(A.CLS_NO = C.CLS_NO)
		        WHERE C.CLS_DICSION_STATUS = 'F'
		          AND A.TYPE = 'TITLE'
		        ORDER BY C.CLS_NO DESC)
		<![CDATA[ WHERE ROWNUM  <= 4 ]]>
	</select>
	
 	<select id="selectClassDetail" parameterType="_int" resultMap="ClassResult">
		SELECT
		       *
		  FROM CLASS C
		  JOIN ATTACHMENT A ON(A.CLS_NO = C.CLS_NO)
		 WHERE A.TYPE = 'TITLE'
           AND C.CLS_NO = #{ clsNo }
	</select>
	
	<select id="selectClassPic" parameterType="_int" resultMap="ClassResult">
		SELECT
		       *
		  FROM CLASS C
		  JOIN ATTACHMENT A ON(A.CLS_NO = C.CLS_NO)
		 WHERE C.CLS_NO = #{ clsNo }
	</select>  
	
	<select id="selectClassStar" parameterType="_int" resultMap="ClassResult">
		SELECT 
		       AVG(R.REVIEW_SCORE) AS AVG_SCORE
		     , S.CLS_NO
	      FROM REVIEW R
		  JOIN CLASS_APPLY C ON(R.CLS_APL_NO = C.CLS_APL_NO)
		  JOIN SCHEDULE S ON(S.SCHEDULE_NO = C.SCHEDULE_NO)
         WHERE S.CLS_NO = #{ clsNo }
		 GROUP BY S.CLS_NO
	</select>  
	
	<resultMap type="ClassPieceDTO" id="ClassPieceResult">
        <id column="PIECE_NO" property="pieceNo"/>
        <result column="PIECE_TITLE" property="pieceTitle"/>
        <result column="PIECE_PIC" property="piecePic"/>
        <result column="CLS_NO" property="clsNo"/>
    </resultMap>
    
    <select id="selectClassPiece" parameterType="_int" resultMap="ClassPieceResult">
	    SELECT
	      	   *
	 	  FROM CLASS_PIECE
	     WHERE CLS_NO = #{clsNo} 
    </select>
    
    <resultMap type="CurriculumDTO" id="CurriculumResult">
        <id column="CRCLM_NO" property="curriNo"/>
        <result column="CRCLM_STEP" property="curriStep"/>
        <result column="CRCLM_TITLE" property="curriTitle"/>
        <result column="CRCLM_CONTENT" property="curriContent"/>
        <result column="CLS_NO" property="clsNo"/>
    </resultMap>
    
    <select id="selectCurriculum" parameterType="_int" resultMap="CurriculumResult">
	    SELECT
	      	   *
	 	  FROM CURRICULUM
	     WHERE CLS_NO = #{clsNo} 
    </select>
    
    <resultMap type="UserReviewDTO" id="ReviewResult">
        <id column="REVIEW_NO" property="reviewNo"/>
        <result column="REVIEW_CONTENT" property="reviewContent"/>
        <result column="REVIEW_PIC" property="reviewPic"/>
        <result column="REVIEW_SCORE" property="reviewScore"/>
        <result column="REVIEW_ENROLLDATE" property="reviewEnrollDate"/>
        <result column="CLS_APL_NO" property="aplNo"/>
        <result column="USER_NAME" property="userName"/>
        <!-- 리뷰답변 DTO association 함 -->
        <association property="answer" javaType="ReviewAnswerDTO">
        	<id column="RE_ANS_NO" property="ansNo"/>
	        <result column="RE_ANS_DATE" property="ansDate"/>
	        <result column="RE_ANS_CONTENT" property="ansContent"/>
	        <result column="REVIEW_NO" property="reviewNo"/>
	        <result column="TE_NO" property="teNo"/>
	        <result column="TE_NAME" property="teName"/>
	        <result column="TE_PIC" property="tePic"/>
        </association>
    </resultMap>
    
    <select id="selectReview" parameterType="_int" resultMap="ReviewResult">
		SELECT
               R.*
             , A.*
		     , T.TE_NAME
		     , T.TE_PIC
		     , U.USER_NAME
		  FROM REVIEW_ANSWER A
		  JOIN REVIEW R ON (R.REVIEW_NO = A.REVIEW_NO)
		  JOIN TEACHER_INFO T ON (T.TE_NO = A.TE_NO)
		  JOIN CLASS_APPLY C ON(R.CLS_APL_NO = C.CLS_APL_NO)
		  JOIN SCHEDULE S ON(S.SCHEDULE_NO = C.SCHEDULE_NO)
		  JOIN USER_INFO U ON (U.USER_NO = C.USER_NO)
		 WHERE S.CLS_NO = #{ clsNo }
    </select>
   
    <resultMap type="ScheduleDTO" id="ScheduleResult">
        <id column="SCHEDULE_NO" property="scheduleNo"/>
        <result column="SCHEDULE_TYPE" property="scheduleType"/>
        <result column="SCHEDULE_DATE" property="scheduleDate"/>
        <result column="SCHEDULE_START" property="scheduleStart"/>
        <result column="MIN_PEOPLE" property="minPeople"/>
        <result column="MAX_PEOPLE" property="maxPeople"/>
        <result column="CLS_NO" property="clsNo"/>
        <result column="SCHEDULE_COUNT" property="scheduleCount"/>
    </resultMap>
    
    <select id="selectSchedule" parameterType="_int" resultMap="ScheduleResult">
		SELECT 
		       * 
		  FROM SCHEDULE S
		 WHERE S.CLS_NO = #{ clsNo }
    </select>
    
    <resultMap type="UserInquiryDTO" id="InquiryResult">
        <id column="QUESTION_NO" property="queNo"/>
        <result column="QUESTION_CONTENT" property="queContent"/>
        <result column="QUESTION_DATE" property="queDate"/>
        <result column="QUESTION_VISIABLE_YN" property="queVisibleYn"/>
        <result column="USER_NAME" property="userName"/>
        <result column="CLS_NO" property="clsNo"/>
        <!-- 문의답변 DTO association 함 -->
        <association property="answer" javaType="InquiryAnswerDTO">
        	<id column="ANSWER_NO" property="answerNo"/>
	        <result column="ANSWER_CONTENT" property="answerContent"/>
	        <result column="QUESTION_NO" property="queNo"/>
	        <result column="ANSER_TIME" property="answerTime"/>
	        <result column="TE_NAME" property="teName"/>
	        <result column="TE_PIC" property="tePic"/>
        </association>
    </resultMap>
    
    <select id="selectQnA" parameterType="_int" resultMap="InquiryResult">
		SELECT
		       U.*
		     , A.*
		     , T.TE_NAME
		     , T.TE_PIC
		     , I.USER_NAME
		  FROM USER_TO_TEACHER_Q U
		  JOIN CLASS C ON (U.CLS_NO = C.CLS_NO)
		  JOIN TE_ANSWER A ON (A.QUESTION_NO = U.QUESTION_NO)
		  JOIN TEACHER_INFO T ON (C.TE_NO = T.TE_NO)
		  JOIN USER_INFO I ON (U.USER_NO = I.USER_NO)
		 WHERE C.CLS_NO = #{ clsNo }
    </select>
    
	<select id="selectscheduleNo" parameterType="string" resultMap="ScheduleResult">
		SELECT
		       *
		  FROM SCHEDULE
		 WHERE SCHEDULE_DATE = SUBSTR(#{value},0,10)
		   AND SCHEDULE_START = SUBSTR(#{value},12,15)
	</select>
    
	<insert id="insertClassApply" parameterType="ClassApplyDTO">
		INSERT
	      INTO CLASS_APPLY
		VALUES
		(
		  SEQ_CLS_APL_NO.NEXTVAL
		, #{ ppl }
		, SYSDATE
		, #{ userNo }
		, DEFAULT
		, #{ scheduleNo }
		)
	</insert>
	
	<insert id="insertPayment" parameterType="PaymentDTO">
		<selectKey keyProperty="clsAplNo" resultType="_int" order="BEFORE">
			SELECT
			      SEQ_CLS_APL_NO.CURRVAL
			FROM DUAL
	 	</selectKey>
		INSERT
		  INTO PAYMENT
		VALUES
		(
		  SEQ_PAY_NO.NEXTVAL
		, #{ payPrice }
		, '카카오페이'
		, SYSDATE	
		<if test='cpnNo == "0"'>
		, null
		</if>
		<if test='cpnNo != "0"'>		
		, #{ cpnNo }
		</if>
		, '완료'
		, #{ clsAplNo }
		)
	</insert>
	
	 <resultMap type="UserCouponDTO" id="CouponResult">
    	<id column="CPN_NO" property="cpnNo"/>
    	<result column="CPN_NAME" property="cpnName"/>
        <result column="DIS_AMOUNT" property="disAmount"/>
        <result column="DIS_CONDITION" property="disCondition"/>
        <result column="CPN_START" property="cpnStart"/>
        <result column="CPN_END" property="cpnEnd"/>
        <result column="CPN_USE_YN" property="cpnUseYn"/>
        <result column="CHEERING_NO" property="cheeringNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="CPN_ISSUE_DATE" property="issuedDate"/>
        <result column="CLS_TITLE" property="couponClassName"/>
    </resultMap>
    
	<update id="updateCpnUseYn" parameterType="_int">
		UPDATE COUPON
		   SET CPN_USE_YN = 'Y'
		 WHERE CPN_NO = #{ cpnNo }
	</update>
	
	<select id="selectCouponList" parameterType="UserClassDTO" resultMap="CouponResult">
		SELECT 
		       *
		  FROM COUPON A
		  JOIN CHEERING_HISTORY H ON(A.CHEERING_NO = H.CHEERING_NO)
		  JOIN CLASS C ON(H.CLS_NO = C.CLS_NO)
		 WHERE A.USER_NO = #{ userNo }
		   AND CPN_USE_YN = 'N'
           AND H.CLS_NO = #{ clsNo }
		 ORDER BY CPN_NO
	</select>
	
	<resultMap type="UserReportDTO" id="ReportResult">
		<id column="REPORT_NO" property="reportNo"/>
		<result column="REPORT_TITLE" property="reportTitle"/>
		<result column="REPORT_REASON" property="reportReason"/>
		<result column="REPORT_TYPE" property="reportType"/>
		<result column="REPORT_FROM_NO" property="reportFromNo"/>
		<result column="REPORT_TO_NO" property="reportToNo"/>
		<result column="REPORT_PIC" property="reportPic"/>
		<result column="PROCS_STATUS" property="status"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="RNUM" property="rowNum"/>
		<result column="REPORT_ANSWER" property="reportAnswer"/>
	</resultMap>
	
	<insert id="insertReport" parameterType="UserReportDTO">
       INSERT 
         INTO REPORT
       VALUES
       (
         SEQ_REPORT_NO.NEXTVAL
       , #{ reportTitle }
       , #{ reportReason }
       , '수강생'
       , #{ reportFromNo }
       , #{ reportToNo }
       , #{ reportPic }
       , DEFAULT
       , SYSDATE
       )
	</insert>
	
	<insert id="insertReportHistory" parameterType="UserReportDTO">
		<selectKey keyProperty="reportNo" resultType="_int" order="BEFORE">
			SELECT
        		   SEQ_REPORT_NO.CURRVAL
			  FROM DUAL
	 	</selectKey>
	   INSERT
	     INTO TE_REPORT_HISTORY
	   VALUES
	   (
	     #{ reportToNo }
	   , #{ reportNo }
	   )
	</insert>
	
	<insert id="inserRefund" parameterType="UserRefundDTO">
	   INSERT
	     INTO PAYMENT_CANCEL
	   VALUES
	   (
	     SEQ_CANCLE_NO.NEXTVAL
	   , #{ cancelReason }
	   , NULL
	   , NULL
	   , #{ cancelReasonDetail }
	   , #{ payNo }
	   , #{ refundAccount }
	   , #{ accountHolder }
	   , #{ bank }
	   , DEFAULT
	   , SYSDATE
	   )
	</insert>
	
	<update id="updatePaymentStatus" parameterType="_int">
	  UPDATE PAYMENT
	     SET PAY_STATUS = '취소'
	   WHERE PAY_NO = #{ payNo }
	</update>
	
	<select id="selectCheerHistory" parameterType="UserClassDTO" resultType="_int">
	   SELECT
		      COUNT(DECODE(CHEERING_STATUS,'Y',1)) count
		FROM CHEERING_HISTORY CH
	    JOIN USER_INFO U ON(CH.USER_NO = U.USER_NO)
	    JOIN CLASS C ON(CH.CLS_NO = C.CLS_NO)
	   WHERE C.CLS_NO = #{ clsNo }
	     AND U.USER_NO = #{ userNo }
	</select>
	
	<insert id="insertCheerHistory" parameterType="UserClassDTO">
	   INSERT
	     INTO CHEERING_HISTORY
	   VALUES
	   (
	     SEQ_CHEERING_NO.NEXTVAL
	   , #{ clsNo }
	   , 'Y'
	   , #{ userNo }
	   )
	
	</insert>

</mapper>