<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tig.wdc.user.model.dao.UserCategoryMapper">

    <resultMap type="UserClassDTO" id="UserCategoryResult">
        <id column="CLS_NO" property="clsNo"/>
        <result column="CLS_TITLE" property="title"/>
        <result column="CLS_ADDRESS" property="address"/>
        <result column="CLS_INTRO" property="intro"/>
        <result column="CLS_C_EXPL" property="cExpl"/>
        <result column="CLS_TIME" property="time"/>
        <result column="CLS_START_D" property="startDate"/>
        <result column="CLS_END_D" property="endDate"/>
        <result column="CLS_PRICE" property="price"/>
        <result column="CLS_ADD_INFO" property="addInfo"/>
        <result column="CLS_ADD_SUP" property="addSup"/>
        <result column="CLS_DICSION_STATUS" property="dicsionStatus"/>
        <result column="CLS_TYPE" property="clsType"/>
        <result column="DATE_APLCT" property="dateAplct"/>
        <result column="CLS_STATUS" property="status"/>
        <result column="TE_NO" property="teNo"/>
        <result column="CATEGORY_NO" property="categoryNo"/>
        <result column="CLS_SIMPLE_INTRO" property="simpleIntro"/>
        <result column="SAVE_PATH" property="titlePic"/>
        <result column="D_DAY" property="dDay"/>
        
    </resultMap>

	<select id="selectClassCategory" resultMap="UserCategoryResult">
       SELECT
              A.*
            , T.* 
            , SUBSTR(A.CLS_START_D - SYSDATE,0,2) D_DAY
         FROM CLASS A
         JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
        WHERE (A.CLS_DICSION_STATUS = 'S'
           OR  A.CLS_DICSION_STATUS = 'F')
          AND T.TYPE = 'TITLE'
    </select>
    
    <select id="selectSportsClassCategory" resultMap="UserCategoryResult">
    	SELECT
	          A.*
            , T.*
            , SUBSTR(A.CLS_START_D - SYSDATE,0,2)  D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')
		   AND A.CATEGORY_NO = 1
           AND T.TYPE = 'TITLE'	
    </select>

    <select id="selectClassBeautyCategory" resultMap="UserCategoryResult">
    	SELECT
              A.*
            , T.*
            , SUBSTR(A.CLS_START_D - SYSDATE,0,2) D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')
		   AND A.CATEGORY_NO = 4
           AND T.TYPE = 'TITLE'	
    </select>
    
    <select id="selectClassArtCategory" resultMap="UserCategoryResult">
        SELECT
               A.*
             , T.*   
             , SUBSTR(A.CLS_START_D - SYSDATE,0,2)  D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')		  
		   AND A.CATEGORY_NO = 3
           AND T.TYPE = 'TITLE'	
    </select>
    
    <select id="selectClassCookCategory" resultMap="UserCategoryResult">
        SELECT
               A.*
             , T.*
             , SUBSTR(A.CLS_START_D - SYSDATE,0,2)  D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')
		   AND A.CATEGORY_NO = 2
           AND T.TYPE = 'TITLE'	
    </select>
    
    <select id="selectClassComputerCategory" resultMap="UserCategoryResult">
        SELECT
               A.*
             , T.*
             , SUBSTR(A.CLS_START_D - SYSDATE,0,2)  D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')
		   AND A.CATEGORY_NO = 5
           AND T.TYPE = 'TITLE'	
    </select>
    
    <select id="selectClassLanguageCategory" resultMap="UserCategoryResult">
    	SELECT
               A.*
             , T.*
             , SUBSTR(A.CLS_START_D - SYSDATE,0,2)  D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')
		   AND A.CATEGORY_NO = 6
           AND T.TYPE = 'TITLE'
    </select>
    
        <select id="selectClassRevenuCategory" resultMap="UserCategoryResult">
    	SELECT
               A.*
             , T.*
             , SUBSTR(A.CLS_START_D - SYSDATE,0,2)  D_DAY
		  FROM CLASS A
		  JOIN ATTACHMENT T ON(A.CLS_NO = T.CLS_NO)
		 WHERE (A.CLS_DICSION_STATUS = 'S'
		    OR  A.CLS_DICSION_STATUS = 'F')
		   AND A.CATEGORY_NO = 7
           AND T.TYPE = 'TITLE'
    </select>
</mapper>