@charset "UTF-8";
.productNoneOpacity .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}
.productNoneOpacity:hover img {
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
  transition: all 0.3s;
}

.refunderInfo{
    border-radius: 5px;
    text-align: center;
    width: 230px !important
}

.refundBackground{
    padding-top: 10px;
    height: 15px !important; 
    width: 300px;
    margin-top: -5px;
    border-radius: 5px;
}

.btn-dark:Focus {
  text-decoration: none;
  backgroun-color: #fef0ae !important;
  color: black !important;
  border-color: #fef0ae !important;
}

.btn-dark:focus, .btn-dark.focus {
  background-color: #fef0ae !important;
  border: none !important;
  color: black !important;
}

<!-- 검색 -->
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #fef0ae;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 500px;
  caret-color:black;
  line-height: 40px;
  transition: width 0.4s linear;
  margin-top: -3px;
  margin-left: 15px;
  }

  /* .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:black;
  transition: width 0.4s linear;
  } */

  /* .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  } */

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#e74c3c;
  text-decoration:none;
  background: white;
  }
 <!-- 검색 -->
 
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 900 !important;
    line-height: 1.2;
    color: inherit;
}