<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 
 	<typeAliases>
 	
 		<!-- admin -->
 		<typeAlias alias="TotalDTO" type="com.tig.wdc.admin.model.dto.TotalDTO"/>
 		<typeAlias alias="ClassDTO" type="com.tig.wdc.admin.model.dto.ClassDTO"/>
 		<typeAlias alias="ReportDTO" type="com.tig.wdc.admin.model.dto.ReportDTO"/>
 		<typeAlias alias="QuestionDTO" type="com.tig.wdc.admin.model.dto.QuestionDTO"/>
 		<typeAlias alias="CouponDTO" type="com.tig.wdc.admin.model.dto.CouponDTO"/> 		
 		<typeAlias alias="NoticeDTO" type="com.tig.wdc.admin.model.dto.NoticeDTO"/> 		
 		<typeAlias alias="CalculateDTO" type="com.tig.wdc.admin.model.dto.CalculateDTO"/>	
 		<typeAlias alias="TeacherInfoDTO" type="com.tig.wdc.model.dto.TeacherInfoDTO"/>
 		<typeAlias alias="notice" type="com.tig.wdc.model.dto.NoticeDTO"/>
 		<typeAlias alias="paging" type="com.tig.wdc.model.dto.PageInfoDTO"/>
 		<typeAlias alias="StudentDTO" type="com.tig.wdc.admin.model.dto.StudentDTO"/>
 		<typeAlias alias="TeacherDTO" type="com.tig.wdc.admin.model.dto.TeacherDTO"/>
 		<typeAlias alias="reportDetailDTO" type="com.tig.wdc.admin.model.dto.ReportDetailDTO"/>
 		
 		
 		
 		<!-- user -->
 		<typeAlias alias="UserInfoDTO" type="com.tig.wdc.user.model.dto.UserInfoDTO"/>
 		<typeAlias alias="UserClassDTO" type="com.tig.wdc.user.model.dto.UserClassDTO"/>
 		<typeAlias alias="UserCouponDTO" type="com.tig.wdc.user.model.dto.UserCouponDTO"/>
 		
 		<!-- teacher  -->
 		<typeAlias alias="CALCULATE" type="com.tig.wdc.model.dto.BalanceDTO"/>
 		<typeAlias alias="attachment" type="com.tig.wdc.model.dto.AttachMentDTO"/>
 		
 	</typeAliases>
 </configuration>