<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 
 	<typeAliases>
 	
 		<typeAlias alias="TotalDTO" type="com.tig.wdc.admin.model.dto.TotalDTO"/>
 		<typeAlias alias="ClassDTO" type="com.tig.wdc.admin.model.dto.ClassDTO"/>
 		<typeAlias alias="ReportDTO" type="com.tig.wdc.admin.model.dto.ReportDTO"/>
 		<typeAlias alias="QuestionDTO" type="com.tig.wdc.admin.model.dto.QuestionDTO"/>
 		<typeAlias alias="TeacherInfoDTO" type="com.tig.wdc.model.dto.TeacherInfoDTO"/>
 		
 	</typeAliases>
 </configuration>