<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.tig.wdc.teacher.model.dao.TeacherMapper">
    
     <select id="selectTest" resultType="_int">
         SELECT 
                ADMIN_NO
           FROM ADMIN_INFO
          WHERE ADMIN_NO = 1      
     </select>
    </mapper>