<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tig.wdc.admin.model.dao.AdminMapper">
	
	<resultMap id="totalDTO" type="TotalDTO">
		<id column="TE_NO" property="userNo"/>
		<result column="TE_ID" property="userId"/>
		<result column="TE_NAME" property="userName"/>
		<result column="ENROLLDATE" property="enrollDate"/>
		<result column="TYPE" property="userType"/>
		<result column="누적신고"  property="reportedCnt"/>
	</resultMap>
		
	<resultMap id="classLsit" type="ClassDTO">
		<id column="CLS_NO" property="classNo"/>
		<result column="CLS_TITLE" property="classTitle"/>
		<result column="TE_NAME" property="teacherName"/>
		<result column="CLS_PRICE" property="classPrice"/>
		<result column="CLS_TYPE" property="classType"/>
		<result column="CLS_STATUS" property="decisionStatus"/>
	</resultMap>
	
	<resultMap id="reportList" type="ReportDTO">
		<id column="REPORT_NO" property="reportNo"/>
		<result column="REPORT_TITLE" property="reportTitle"/>
		<result column="REPORT_TYPE" property="reportType"/>
		<result column="REPORT_FROM_NO" property="reportId"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="PROCS_STATUS" property="reportStatus"/>
	</resultMap>
	
	<resultMap id="questionList" type="QuestionDTO" >
		<id column="Q_NO" property="questionNo"/>
		<result column="MEMBER_TYPE" property="questionType"/>
		<result column="USER_NAME" property="questionName"/>
		<result column="USER_ID" property="questionId"/>
		<result column="Q_TITLE" property="questionTitle"/>
		<result column="Q_DATE" property="questionDate"/>
	</resultMap>
	
	<resultMap id="couponList" type="CouponDTO">
		<id column="CPN_NO" property="couponNo"/>
		<result column="USER_ID" property="couponType"/>
		<result column="CPN_NAME" property="couponName"/>
		<result column="DIS_AMOUNT" property="discount"/>
		<result column="CPN_ISSUE_DATE" property="issueDate"/>
		<result column="CPN_START" property="startDate"/>
		<result column="CPN_END" property="endDate"/>
		<result column="CPN_USE_YN" property="useStatus"/>
	</resultMap>
	
	<resultMap id="noticeList" type="NoticeDTO">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TYPE" property="noticeType"/>
		<result column="IMPORTANT_YN" property="importantYN"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="WRITE_DATE" property="writeDate"/>
	</resultMap>
	
	<resultMap id="calculateList" type="CalculateDTO">
		<id column="CALC_NO" property="calcNo"/>
		<result column="TE_TYPE" property="teType"/>
		<result column="TE_NAME" property="teName"/>
		<result column="TE_ID" property="teId"/>
		<result column="CALC_MONTH" property="calcMonth"/>
		<result column="정산여부" property="calcYN"/>
	</resultMap>
		
	<select id="selectTotalUsertList" resultMap="totalDTO">
		SELECT 
		       T.TE_NO
		     , T.TYPE
		     , T.TE_ID
		     , T.TE_NAME
		     , T.ENROLLDATE
		     , COUNT(DECODE(R.PROCS_STATUS,'Y',1)) 누적신고
		  FROM TEACHER_INFO T
		  LEFT JOIN TE_REPORT_HISTORY TH ON (TH.TE_NO = T.TE_NO)
		  LEFT JOIN REPORT R ON (TH.REPORT_NO = R.REPORT_NO)
		 GROUP BY T.TE_NO
		     , T.TYPE
		     , T.TE_ID
		     , T.TE_NAME
		     , T.ENROLLDATE
		  UNION ALL
		 SELECT 
		        U.USER_NO
		      , U.TYPE
		      , U.USER_ID
		      , U.USER_NAME
		      , U.ENROLLDATE
		      , COUNT(DECODE(R.PROCS_STATUS,'Y',1)) 누적신고
		    FROM USER_INFO U
		  LEFT JOIN USER_REPORT_HISTORY UH ON (UH.USER_NO = U.USER_NO)
		  LEFT JOIN REPORT R ON (UH.REPORT_NO = R.REPORT_NO)
		 GROUP BY U.USER_NO
		      , U.TYPE
		      , U.USER_ID
		      , U.USER_NAME
		      , U.ENROLLDATE
	</select>
	
	<select id="selectAllClassList" resultMap="classLsit">
		SELECT 
		       C.CLS_NO
		     , C.CLS_TITLE
		     , C.CLS_TYPE
		     , C.CLS_PRICE
		     , C.CLS_STATUS
		     , TI.TE_NAME
		  FROM CLASS C
		  JOIN TEACHER_INFO TI ON (C.TE_NO = TI.TE_NO)
	</select>
	
	<select id="selectAllReportList" resultMap="reportList">
		SELECT 
		       R.REPORT_NO
		     , R.REPORT_TITLE
		     , R.REPORT_TYPE
		     , R.REPORT_FROM_NO
		     , R.REPORT_DATE
		     , R.PROCS_STATUS
		  FROM REPORT R
    </select>
	
	<select id="selectAllQuestionList" resultMap="questionList">
		SELECT 
			   A.Q_NO
			 , A.MEMBER_TYPE
			 , C.USER_NAME
			 , C.USER_ID
			 , A.Q_TITLE
			 , A.Q_DATE
		  FROM ADMIN_Q A
		  JOIN USER_TO_ADMIN_Q B ON (A.Q_NO = B.Q_NO)
		  JOIN USER_INFO C ON (B.USER_NO = C.USER_NO)
	</select>
	
	<select id="selectAllCouponList" resultMap="couponList">
		SELECT 
			   A.CPN_NO
			 , B.USER_ID
			 , A.CPN_NAME
			 , A.DIS_AMOUNT
			 , A.CPN_ISSUE_DATE
			 , A.CPN_START
			 , A.CPN_END
			 , A.CPN_USE_YN 
		  FROM COUPON A
          JOIN USER_INFO B ON (A.USER_NO = B.USER_NO)
         ORDER BY A.CPN_NO
	</select>
	
	<select id="selectAllNoticeList" resultMap="noticeList">
		SELECT 
			   NOTICE_NO
			 , NOTICE_TYPE
			 , IMPORTANT_YN
			 , NOTICE_TITLE
			 , WRITE_DATE
		  FROM NOTICE
	</select>
	
	<select id="selectAllCalculateList" resultMap="calculateList">
		SELECT 
			   A.CALC_NO
			 , B.TE_TYPE
			 , B.TE_NAME
			 , B.TE_ID
			 , A.CALC_MONTH
			 , 'Y' AS 정산여부
		  FROM CALCULATE A
		  JOIN TEACHER_INFO B ON (A.TE_NO = B.TE_NO)
         ORDER BY A.CALC_NO
	</select>
</mapper>